.main {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.containerHeader {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.titleContainer {
  flex-direction: row;
  align-items: center;
  display: flex;
  color: black;
}